<!-- footer -->
  <footer>
    <div class="row">
      <div class="col-lg-6 col-sm-offset-3">
        <div class="contact">
          <h4>Contact</h4>
          <div class="phone-header">
            <h5>Phone:</h5>
          </div>
          <a href="800-555-5555">800-555-5555</a>
          <div class="email-header">
            <h5>Email:</h5>
          </div>
          <a href="agent@KeepingItReal.com">agent@KeepingItReal.com</a>
          <div class="address-header">
            <h5>Address:</h5>
          </div>
          <div class="company-address">
            <p>15557 Wilshire Blvd., #1018 <br>
              Los Angeles, CA 90026
            </p>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-sm-offset-3">
          <div class="connect">
            <h4>Connect</h4>
            <div class="social-media-btn">
              <a href="#"><img src="/assets/images/facebook-icon.png" class="social-media-icons"></a>
              <a href="#"><img src="/assets/images/twitter-icon.png" class="social-media-icons"></a>
              <a href="#"><img src="/assets/images/instagram-icon.png" class="social-media-icons"></a>
            </div>
            <div class="Copyright">
              &copy Copyright 2018
            </div>
          </div>
        </div>
      </div>  
  </footer>