header {
  padding: 60px;
  text-align: center;
  background: lightgray;
  color: white;
  font-size: 30px;
}

.header-logo {
  width: 300px;
  height: auto;
}
.carousel-img {
  padding: 60px;
  text-align: center;
  background:white;
  color: white;
  font-size: 30px;
}

.d-block {
  text-align: center;
}

.search-btn{
  width: 32px;
  height:auto;
}
#login-icon {
  width: 25px;
  height: auto;
}

.social-media-icons {
  width: 30px;
  float: right;
  opacity: .6;
}