<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div class="row">
  </div>
  <header class="header">
    <img src="/assets/images/IMG_0496.PNG" class="header-logo">
  </header>

  {{> nav }}

  <br>

<div class="container">

        <h2>Project Information</h2>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-4 required">
                <h3>Project Name</h3>
                <label for="projectName">Name for your Project</label>
                <input type="text" name="projectName" id="projectName" class="form-control" required placeholder="Ex: House on Sample St"
                    aria-describedby="helpId">
                <small id="helpId" class="text-muted"></small>
            </div>
        </div>
        <br>
        <h2>Address</h2>
        <div class="form-row">
            <div class="form-group col-md-5">
                <!-- Street 1 -->
                <label for="projectAddress" class="control-label">Address Line</label>
                <input type="text" class="form-control" id="projectAddress" name="projectAddress" placeholder="Street address, P.O. box, company name, c/o">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <!-- City-->
                <label for="projectCity" class="control-label">City</label>
                <input type="text" class="form-control" id="projectCity" name="projectCity" placeholder="Smallville">
            </div>

            <div class="form-group col col-md-3">
                <!-- State -->
                <label for="projectState" class="control-label">City</label>
                <input type="text" class="form-control" id="projectState" name="projectState" placeholder="Smallville">

                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <!-- Zip Code-->
                <label for="projectZip" class="control-label">Zip Code</label>
                <input type="text" class="form-control" id="projectZip" name="projectZip" placeholder="#####">
            </div>
        </div>
        <input type="submit" id="next" onclick="window.location = '/project/purchase'" value="Next">

</div>
<br>

{{> footer}}