

    <div class="container">
        <form action="" method="POST" id="form2">
            <h2>Purchasing Information</h2>
            <div class="form-row">
                <div class="form-group col-md-3 ">
                    <label for="projectArv">After Repair Value (ARV)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" id="projectArv" required aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="projectProfit">Desired Profit</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" id="projectProfit" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
        </form>
        <button type="submit" class="btn btn-primary" form="form2">Next Step</button>
    </div>

