<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="row">
  </div>
  <header class="header">
    <img src="/assets/images/IMG_0496.PNG" onclick="window.location = '/' " class="header-logo">
  </header>

{{> nav}}

{{> footer}}