  <div class="row">
  </div>
  <header class="header">
    <img src="/assets/images/IMG_0496.PNG" onclick="window.location = '/' " class="header-logo">
  </header>



{{> nav }}

<br>

<div id="registration-container" class="container-fluid">

    <section class="container">
        <div class="container-page">


            <div class="col-md-9">

                <div class="form-group col-lg-12">
                    <label for="first_name">
                        <h4>First Name</h4>
                    </label>
                    <input type="text" class="form-control" name="" id="first_name" placeholder="First Name">
                </div>

                <div class="form-group col-lg-12">

                    <label for="last_name">
                        <h4>Last Name</h4>
                    </label>
                    <input type="text" class="form-control" name="" id="last_name" placeholder="Last Name">
                </div>

                <div class="form-group col-lg-12">

                    <label for="phone">
                        <h4>Phone</h4>
                    </label>
                    <input type="text" class="form-control" name="" id="phone" placeholder="Enter a valid 10 digit phone number">

                </div>

                <div class="form-group col-lg-12">
                    <label for="location">
                        <h4>Location </h4>
                    </label>
                    <input type="" class="form-control" id="location" name="" placeholder="Please enter your city">
                </div>

                <div class="form-group col-lg-12">

                    <label for="username_input">
                        <h4>Username</h4>
                    </label>
                    <input type="text" class="form-control" name="" id="username_input" placeholder="Desired Username">
                </div>

                <div class="form-group col-lg-12">

                    <label for="email_input">
                        <h4>Email</h4>
                    </label>
                    <input type="email" class="form-control" name="" id="email_input" placeholder="usingthisforexample@email.com">
                </div>

                <div class="form-group col-lg-12">

                    <label for="password_input">
                        <h4>Password</h4>
                    </label>
                    <input type="password" class="form-control" name="" id="password_input" placeholder="Please enter a unique password">
                </div>

                <div class="form-group col-lg-12">

                    <label for="password2_input">
                        <h4>Verify Password</h4>
                    </label>
                    <input type="password" class="form-control" name="" id="password2_input" placeholder="Please verify your password">
                </div>
            </div>

            <button type="submit" id="signUpButton" class="btn btn-primary signup">Register</button>

        </div>
    </section>
</div>

<br>

{{> footer}}