<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>User name</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">About Me <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><p>I have experience in flipping houses.  I'm crazy good at it. </div>
          </div>
          
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
              <a href="#"><img src="/assets/images/facebook-icon.png" class="social-media-icons"></a>
              <a href="#"><img src="/assets/images/twitter-icon.png" class="social-media-icons"></a>
              <a href="#"><img src="/assets/images/instagram-icon.png" class="social-media-icons"></a>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <h3>Potential Projects</h3>
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Rehab Cost</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>The Fixer Upper</td>
                        <td>123 Otto St.</td>
                        <td>$32,000</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Calculating</td>
                        <td>987 Dunno Ave.</td>
                        <td>$14,000</td>
                      </tr>
                    </tbody>
                  </table>
                  <h3>Projects In Progress</h3>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Rehab Cost</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Money Making Project</td>
                        <td>567 Benjamin St.</td>
                        <td>$45,000</td>
                      </tr>
                  </table>
              
              <hr>
              </div>
          </div>

        </div>
    </div>
