{{> nav }}
{{> login-modal }}

                  <table class="table table-hover">

 				<ul>
        	{{#each User}} 
						{{#if this.dataValues.id}}
          		<li>
            		<p class="username1">{{this.user_firstname}}</p>
          		</li>
        		{{/if}} 
					{{/each}}
        </ul>
                  </table>
              
              <hr>
              </div>
          </div>

        </div>
    </div>
